@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<form id="profile-form" method="post" enctype="multipart/form-data">
<div class="row">
    <div class="col-md-6">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control"  />
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control"  />
            </div>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        
    </div>
     <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Profilepicture" class="w-100">
                    @if(Model.Input.Profilepicture != null)
                    {
                        <img id="profilePicture" width="250px" alt="Profile" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.Profilepicture))" />
                    }
                    else
                    {
                        <img id="profilePicture" width="250px" alt="Profile" src="~/Images/2.jpg" />
                    }
                </label>
            </div>
            <div class="custom-file mt-2">
                <input type="file" accept="images/*" asp-for="Input.Profilepicture" class="custom-file-input"
                onchange="document.getElementById('ProfilePicture').src = window.URL.createObjectURL(this.files[0])"
                />
                <label class="custom-file-label" asp-for="Input.Profilepicture">Choose Picture</label>
                <span asp-validation-for="Input.Profilepicture" class="text-danger"></span>
            </div>
      </div>
</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}